In [17]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import urllib.request, json
import re
import matplotlib as plt
import sqlalchemy
import sqlite3
import math

## WATCH OUT, WE'RE LOADING DATA HERE

In [18]:
url_endpoint = 'https://data.cityofchicago.org/resource/cwig-ma7x.json'
response = requests.get(url_endpoint)
data = response.json()
df = pd.DataFrame(data)
df.violations = df.violations.fillna('')

In [21]:
df.columns

Index([':@computed_region_43wa_7qmu', ':@computed_region_6mkv_f3dw',
       ':@computed_region_awaf_s7ux', ':@computed_region_bdys_3d7i',
       ':@computed_region_vrxf_vc4k', 'address', 'aka_name', 'city',
       'dba_name', 'facility_type', 'inspection_date', 'inspection_id',
       'inspection_type', 'latitude', 'license_', 'location', 'longitude',
       'results', 'risk', 'state', 'violations', 'zip'],
      dtype='object')

**Create a list of infractions for each Inspection**

In [22]:
i=0
l=[]
crt = []
ser = []
mnr = []
while i < len(df):
    s = df['violations'][i]
    t1 = re.findall("\d+",str(re.findall("\|\s\d+",s)))
    ti = len([int(i) for i in t1])
    
    #Find number of infrac type
    m = len([int(i) for i in t1 if int(i) > 29 and int(i) <71])
    s = len([int(i) for i in t1 if int(i) > 14 and int(i) <30])
    c = len([int(i) for i in t1 if int(i) > 0 and int(i) <16])
    
    #Create list of vals
    l.append(ti)
    mnr.append(m)
    ser.append(s)
    crt.append(c)
    i=i+1

df['infracs']=l
df['infracs_minor'] = mnr
df['infracs_serious']= ser
df['infracs_critical']= crt

In [38]:
#TEST CELL
s = df['violations'][8]
t1 = re.findall("\d+",str(re.findall("\|\s\d+",s)))
m = len([int(i) for i in t1 if int(i) > 29 and int(i) <71])
t2

2

In [4]:
critical = range(1,15)
serious = range(15,30)
minor = range(30,70)

rl = list(testdf['results'])
testdf['results'][1]
#len([1,0 for i in rl if i == 'Pass',i != 'Pass']) #and 0 for i in r1 if i != 'Pass']

NameError: name 'testdf' is not defined

## Mission Impossible: Mr Clean

In [24]:
#Prep DataFrame for SQLite
l = range(8,len(df.columns))
testdf = df.iloc[:,l]
testdf['Pass_Fail'] = pass_fail(testdf['results'])
testdf = testdf.drop(['location','violations','results','latitude','longitude','state'], axis =1)

#Get rid of NA results and non restuarants
testdf = testdf[testdf.Pass_Fail != 'NA']
testdf = testdf[testdf.facility_type == 'Restaurant']

/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [25]:
#Convert to dummies, drop unnecissary columns
risks = pd.get_dummies(testdf.risk)
itype = pd.get_dummies(testdf.inspection_type)
#NEW ZIP DUMMIES
zcode = pd.get_dummies(testdf.zip)
testdf = testdf.join(risks).join(itype).join(zcode)
testdf['itype_re'] = round((testdf['Canvass Re-Inspection']+testdf['Complaint Re-Inspection']+testdf['License Re-Inspection']+.6)/3)
testdf['itype_complaint'] = round((testdf['Short Form Complaint']+testdf['Complaint']+.1)/2)
testdf = testdf.drop(['inspection_type','facility_type','inspection_date','license_','Canvass Re-Inspection','Complaint','Complaint Re-Inspection','License Re-Inspection','Short Form Complaint','risk'], axis=1)
testdf.itype_re = testdf.itype_re.astype(int)
testdf.itype_complaint = testdf.itype_complaint.astype(int)

In [26]:
testdf

,dba_name,inspection_id,zip,infracs,infracs_minor,infracs_serious,infracs_critical,Pass_Fail,Risk 1 (High),Risk 2 (Medium),...,60655,60656,60657,60659,60660,60661,60666,60707,itype_re,itype_complaint
2,TRUENORTH CAFE,2150531,60637,7,7,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
5,56TH STREET HAROLD'S GRILL AND WAFFLES,2150425,60636,2,2,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
6,ALICE'S BAR B QUE,2150471,60653,5,5,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
7,SEE THRU CHINESE KITCHEN,2150488,60619,7,7,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
9,MCDONALD'S #6113,2150495,60621,5,5,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
15,ORIGINAL RAINBOW CONE INC,2150457,60620,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
19,BIG AL'S RESTAURANT,2150496,60632,2,2,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21,KANELA,2150420,60640,9,7,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
25,65 EXPRESS,2150417,60606,2,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
29,HUA'S CHINESE CHOP SUEY EXPRESS,2150515,60617,1,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
32,ANGIE'S,2150485,60652,1,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
33,EL LLANO RESTAURANT,2150486,60613,7,4,3,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
34,GIORGINOS PIZZA,2150503,60638,3,3,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
35,T & K AFRICAN KITCHEN,2150475,60617,4,3,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
36,DUNKIN DONUT,2150428,60660,6,5,1,0,1,0,1,...,0,0,0,0,1,0,0,0,1,0
38,WESTERN CAFE,2150518,60659,5,5,0,0,1,1,0,...,0,0,0,1,0,0,0,0,1,0
42,1-94 RIBS & GRILL,2150399,60609,1,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
44,"THE VEGGIE GRILL, INC",2150321,60606,2,2,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
45,THOMAS COFFEE SHOP,2150332,60617,3,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
46,GREENLINE COFFEE,2150361,60637,5,4,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
48,ROSIE'S SIDEKICK,2150330,60647,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
49,"HOANH LONG RESTAURANT, INC.",2150362,60659,8,6,2,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
50,JJ FISH & CHICKEN,2150407,60620,4,4,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
51,MCDONALD,2150318,60643,3,3,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
52,IHOP # 1202,2150389,60659,4,4,0,0,1,1,0,...,0,0,0,1,0,0,0,0,0,1
55,FRUNCHROOM,2150323,60641,8,5,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
58,PONCITLAN #5,2150410,60641,2,2,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
59,MI FOGATA INC.,2150364,60618,4,4,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
61,MCDONALD'S RESTAURANTS,2150348,60620,5,5,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
67,HAROLD'S CHICKEN SHACK #55,2150373,60620,5,5,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,WOLVERINE TRADING LLC,2144925,60604,2,2,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
941,KAI SUSHI,2144846,60613,4,3,1,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
942,AZTLAN MEXICAN GRILLL 1 INC.,2144847,60618,1,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
943,BARNEY'S PIZZA,2144889,60651,4,2,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
946,"COFFEE SLASTICARNA DRINA, INC.",2144882,60625,2,2,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
947,UMAI,2144893,60605,6,6,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
948,BRANKO'S RESTAURANT,2144885,60614,4,4,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
950,TORRENCE BOWL,2144878,60617,6,6,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
951,TACO & BURRITO HOUSE,2144918,60614,4,4,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
954,FIESTA MAGICA,2144874,60639,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
957,EL POTOSINO GRILL,2144857,60622,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
958,PAPRIKA INDIAN RESTAURANT,2144904,60625,4,4,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
959,TAQUERIA LA FOGATA,2144920,60618,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
961,TACONTENTO,2144875,60618,3,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
962,Chen's Kitchen,2144891,60656,8,6,1,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
963,SUBWAY,2144892,60639,2,2,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
965,NESH MEDITERRANEAN GRILL,2144890,60606,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
969,POPEYE'S,2144877,60628,7,5,1,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
970,SZECHWAN JMC,2144840,60616,4,2,2,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
971,SIZZLING POT KING,2144839,60661,5,4,1,0,1,1,0,...,0,0,0,0,0,1,0,0,1,0
972,LA COLOMBE TORREFACTION,2144850,60611,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
977,MARISCOS LA PALMA,2144902,60629,4,4,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
979,CASA DE SOL,2144919,60617,4,3,1,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
981,BAR LOUIE,2144903,60605,5,3,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
986,"SPOKEN, CHICAGO",2144908,60613,4,4,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
988,STAN'S DONUTS - CLARK ST.,2144897,60657,2,2,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
989,AV FOODS WOK N CHOP,2144845,60625,7,5,2,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
990,HEALTHY POWER FIT,2144914,60639,7,5,2,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
991,SUBWAY,2144909,60661,1,0,0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
995,DUNKIN DONUTS/BASKIN ROBBINS,2144907,60628,3,3,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1

In [290]:
#Test Cell
#tt = pd.merge(testdf,risks,how='inner',on=index)
nwdf = pd.DataFrame(columns=testdf.zip.unique().astype(list))

o = []
zips = testdf.zip.unique()
zipco = 60659
for z in zips:
    if zipco == int(z):
        o.append(1)
    else:
        o.append(0)

nwdf.loc[0] = o
nwdf

,60626,60613,60612,60640,60607,60617,60620,60614,60639,60659,...,60641,60637,60604,60638,60609,60606,60602,60624,60608,60707
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [23]:
#Function to bucket outcomes
def pass_fail(raw):
    output = []
    i=0
    stop = (len(raw))
    while i < stop:
        if raw[i] == 'Pass':
            output.append(1)
        elif raw[i] == 'Fail':
            output.append(0)
        else:
            output.append('NA')
        i=i+1
    return output

In [10]:
#CHECK
len(testdf['inspection_id'].unique())

487

## Database Party Zone

In [333]:
#Create DB, load Panda DF
conn = sqlite3.connect("FoodInspect.db")
c = conn.cursor()
testdf.to_sql("Inspections",conn, if_exists="replace")
t = pd.read_sql_query("select * from Inspections limit 5;", conn)
conn.close()

/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:1345: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [334]:
t

,index,dba_name,inspection_id,zip,infracs,infracs_minor,infracs_serious,infracs_critical,Pass_Fail,Risk 1 (High),...,60655,60656,60657,60659,60660,60661,60666,60707,itype_re,itype_complaint
0,0,DUNKIN DONUTS,2145400,60626,2,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,TAC QUICK,2145441,60613,5,4,1,0,1,1,...,0,0,0,0,0,0,0,0,1,0
2,2,RYHANAS CUISINE,2145440,60612,11,5,6,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,3,EL PECADO INC.,2145411,60626,7,6,0,1,1,1,...,0,0,0,0,0,0,0,0,1,0
4,4,OCTAVIO CANTINA & KITCHEN,2145430,60640,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0

In [111]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

MSIA_SETTINGS = ".\config.py"
app = Flask(__name__)
app.config.from_envvar(MSIA_SETTINGS, silent=True)
db = SQLAlchemy(app)

/anaconda/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:774: UserWarning: Neither SQLALCHEMY_DATABASE_URI nor SQLALCHEMY_BINDS is set. Defaulting SQLALCHEMY_DATABASE_URI to "sqlite:///:memory:".
  'Neither SQLALCHEMY_DATABASE_URI nor SQLALCHEMY_BINDS is set. '
/anaconda/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [110]:
import sqlalchemy as sa
config = {'db.url':'sqlite:////Users/matthewgallagher/MSiA/Winter_2018/MSIA_423/FoodInspection/develop/FoodInspect.db', 'db.echo':'True'}
engine = sa.engine_from_config(config, prefix='db.')
testdf.to_sql("Inspections",engine,if_exists="replace")

2018-02-20 14:59:32,504 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-02-20 14:59:32,506 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,510 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-02-20 14:59:32,511 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,514 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Inspections")
2018-02-20 14:59:32,515 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,520 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Inspections")
2018-02-20 14:59:32,521 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,524 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-02-20 14:59:32,525 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,528 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Inspections")
2018-02-20 14:59:32,530 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,535 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Inspections' AND type = 'table'
2018-02-20 14:59:32,537 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,541 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Inspections")
2018-02-20 14:59:32,543 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,544 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Inspections' AND type = 'table'
2018-02-20 14:59:32,546 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,551 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Inspections")
2018-02-20 14:59:32,553 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,555 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_Inspections_index")
2018-02-20 14:59:32,556 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,558 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Inspections")
2018-02-20 14:59:32,559 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,561 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_Inspections_index")
2018-02-20 14:59:32,563 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,565 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Inspections' AND type = 'table'
2018-02-20 14:59:32,574 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,620 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Inspections"
2018-02-20 14:59:32,622 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,645 INFO sqlalchemy.engine.base.Engine COMMIT
2018-02-20 14:59:32,657 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Inspections" (
	"index" BIGINT,
	address TEXT,
	aka_name TEXT,
	city TEXT,
	dba_name TEXT,
	facility_type TEXT,
	inspection_date TEXT,
	inspection_id TEXT,
	inspection_type TEXT,
	latitude TEXT,
	license_ TEXT,
	location TEXT,
	longitude TEXT,
	results TEXT,
	risk TEXT,
	state TEXT,
	violations TEXT,
	zip TEXT,
	infracs TEXT
)


2018-02-20 14:59:32,659 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,666 INFO sqlalchemy.engine.base.Engine COMMIT
2018-02-20 14:59:32,668 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Inspections_index" ON "Inspections" ("index")
2018-02-20 14:59:32,675 INFO sqlalchemy.engine.base.Engine ()
2018-02-20 14:59:32,682 INFO sqlalchemy.engine.base.Engine COMMIT
2018-02-20 14:59:32,711 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-02-20 14:59:32,761 INFO sqlalchemy.engine.base.Engine INSERT INTO "Inspections" ("index", address, aka_name, city, dba_name, facility_type, inspection_date, inspection_id, inspection_type, latitude, license_, location, longitude, results, risk, state, violations, zip, infracs) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-02-20 14:59:32,764 INFO sqlalchemy.engine.base.Engine ((0, '1763 W HOWARD ST ', 'JEWEL FOOD STORE', 'CHICAGO', 'JEWEL FOOD STORE', 'Grocery Store', '2018-02-16T00:00:00.000', '2145045', 'Complaint Re-Inspection', '42.01928855008811', '2320250', "{'type': 'Point', 'coordinates': [-87.675058509388, 42.019288550088]}", '-87.67505850938775', 'Pass', 'Risk 1 (High)', 'IL', "18. NO EVIDENCE OF RODENT OR INSECT OUTER OPENINGS PROTECTED/RODENT PROOFED, A WRITTEN LOG SHALL BE MAINTAINED AVAILABLE TO THE INSPECTORS - Comments ... (999 characters truncated) ... D MAINTAINED - Comments: VIOLATION CORRECTED | 40. REFRIGERATION AND METAL STEM THERMOMETERS PROVIDED AND CONSPICUOUS - Comments: VIOLATION CORRECTED", '60626', '26,32,33,34,35,38,40'), (1, '1435 W MONTROSE AVE ', "SARPINO'S PIZZERIA", 'CHICAGO', 'WRIGLEYVILLE PIZZERIA, INC.', 'Restaurant', '2018-02-16T00:00:00.000', '2145086', 'Complaint', '41.96152004287502', '2511423', "{'type': 'Point', 'coordinates': [-87.666343707105, 41.961520042875]}", '-87.66634370710501', 'Pass', 'Risk 2 (Medium)', 'IL', '30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABELED: CUSTOMER ADVISORY POSTED AS NEEDED - Comments: NO LABEL PROVIDED AT INDIVIDUAL RE-PACKED SLICE OF C ... (666 characters truncated) ... NED FREE OF LITTER, UNNECESSARY ARTICLES, CLEANING  EQUIPMENT PROPERLY STORED - Comments: ALL PERSONAL ITEMS MUST BE REMOVED FROM FOOD AND FOOD AREA.', '60613', '34,32,41'), (2, '4570 N BROADWAY ', 'PALLAS GRILL', 'CHICAGO', 'PALLAS GRILL', 'Restaurant', '2018-02-16T00:00:00.000', '2145077', 'Canvass Re-Inspection', '41.96527014438852', '2196649', "{'type': 'Point', 'coordinates': [-87.657554292026, 41.965270144389]}", '-87.6575542920256', 'Pass', 'Risk 1 (High)', 'IL', '8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS:  CLEAN, PROPER TEMPERATURE, CONCENTRATION, EXPOSURE TIME - Comments: CORRECTED. PREMISE NOW HAS A 3 C ... (1212 characters truncated) ... UMBING: INSTALLED AND MAINTAINED - Comments: NOTED LEAKING FAUCET AT THE BOTTOM PIPING OF THE PREP HAND WASH SINK. INSTRUCTED TO REPAIR AND MAINTAIN.', '60640', '32,33,35,36,38'), (3, '1320 W DEVON AVE ', 'THAI SPICE', 'CHICAGO', 'THAI SPICE', 'Restaurant', '2018-02-16T00:00:00.000', '2145066', 'Canvass', '41.99826122453937', '38123', "{'type': 'Point', 'coordinates': [-87.6639441429, 41.998261224539]}", '-87.6639441429001', 'Out of Business', 'Risk 1 (High)', 'IL', '', '60660', ''), (4, '2918-2920 N Clark ST ', 'Yuki Hana', 'CHICAGO', 'Yuki Hana', 'Restaurant', '2018-02-16T00:00:00.000', '2145096', 'Complaint', '41.93528683052736', '2288846', "{'type': 'Point', 'coordinates': [-87.647072468913, 41.935286830527]}", '-87.64707246891297', 'Pass w/ Conditions', 'Risk 1 (High)', 'IL', '8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS:  CLEAN, PROPER TEMPERATURE, CONCENTRATION, EXPOSURE TIME - Comments: FOUND LOW TEMPERATURE DISHMACHIN ... (852 characters truncated) ... CONSTRUCTED PER CODE: GOOD REPAIR, SURFACES CLEAN AND DUST-LESS CLEANING METHODS - Comments: FOUND HOLES AT WALLS AT KITCHEN AT BACK WALL. MUST SEAL.', '60657', '21,38,34,35'), (5, '1320 W DEVON AVE ', 'PHO SPICIER THAI', 'CHICAGO', 'PHO SPICIER THAI', 'Restaurant', '2018-02-16T00:00:00.000', '2145057', 'License', '41.99826122453937', '2578881', "{'type': 'Point', 'coordinates': [-87.6639441429, 41.998261224539]}", '-87.6639441429001', 'Pass', 'Risk 1 (High)', 'IL', '38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS REQUIRED: PLUMBING: INSTALLED AND MAINTAINED - Comments: NOTED LEAKING FAUCET AT THE 3 COMPARTMENT SIN ... (566 characters truncated) ... D - Comments: NOTED CRACKS ON FLOOR TILES AT THE KITCHEN ESPECIALLY UNDERNEATH THE REFRIGERATION UNIT AT THE REAR. INSTRUCTED TO REPAIR AND MAINTAIN.', '60660', '35,34'), (6, '6358 W IRVING PARK RD ', "A'S RESTAURANT &  PANCAKE HOUSE", 'CHICAGO', "A'S RESTAURANT &  PANCAKE HOUSE", 'Restaurant', '2018-02-16T00:00:00.000', '2145053', 'Complaint', '41.953027775264935', '1335179', "{'type': 'Point', 'coordinates': [-87.786439586169, 41.953027775265]}", '-87.78643958616934', 'Pass', 'Risk 1 (High)', 'IL', '32. FOOD AND NON-FOOD CONTACT SURFACES PROPERLY DESIGNED, CONSTRUCTED AND MAINTAINED - Comments:  OBSERVED CARDBOARD LINERS IN SHELVING UNDER GRILL.I ... (665 characters truncated) ... s: OBSERVED EXPOSED HANDSINK NEXT TO MOPSINK NOT ACCESSIBLE TO HOT LINE FOOD PREP AREA.INSTRUCTED MANAGEMENT TO INSTALL HANDSINK AT FOOD PREP AREA.\n', '60634', '33,34,38'), (7, '4749 N PULASKI RD ', 'FIREWINGS', 'CHICAGO', 'FIREWINGS, LLC', 'Restaurant', '2018-02-16T00:00:00.000', '2145046', 'License Re-Inspection', '41.967878471126355', '2569951', "{'type': 'Point', 'coordinates': [-87.727869493751, 41.967878471126]}", '-87.72786949375144', 'Pass', 'Risk 2 (Medium)', 'IL', '18. NO EVIDENCE OF RODENT OR INSECT OUTER OPENINGS PROTECTED/RODENT PROOFED, A WRITTEN LOG SHALL BE MAINTAINED AVAILABLE TO THE INSPECTORS - Comments ... (334 characters truncated) ... ED. | 35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTRUCTED PER CODE: GOOD REPAIR, SURFACES CLEAN AND DUST-LESS CLEANING METHODS - Comments: CORRECTED.', '60630', '33,34,35')  ... displaying 10 of 1000 total bound parameter sets ...  (998, '4003-05 W ARMITAGE AVE ', 'LOS POLLITOS', 'CHICAGO', 'LOS POLLITOS', 'Restaurant', '2018-01-18T00:00:00.000', '2135632', 'Canvass', '41.91705432233081', '2404445', "{'type': 'Point', 'coordinates': [-87.726709036002, 41.917054322331]}", '-87.72670903600198', 'No Entry', 'Risk 1 (High)', 'IL', '', '60639', ''), (999, '600 W CHICAGO AVE ', 'RIVER NORTH GYM 1', 'CHICAGO', 'RIVER NORTH GYM 1', 'Restaurant', '2018-01-18T00:00:00.000', '2135624', 'License', '41.896585191199556', '2575423', "{'type': 'Point', 'coordinates': [-87.642996181725, 41.8965851912]}", '-87.64299618172501', 'Pass', 'Risk 2 (Medium)', 'IL', '', '60654', ''))

2018-02-20 14:59:32,795 INFO sqlalchemy.engine.base.Engine COMMIT
2018-02-20 14:59:32,800 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-02-20 14:59:32,801 INFO sqlalchemy.engine.base.Engine ()

## First stab at a model

In [27]:
from sklearn import linear_model
from sklearn import model_selection
from sklearn.model_selection import cross_val_predict
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn.model_selection import cross_val_score

In [28]:
#Create Model
Y = testdf['Pass_Fail']
Y=Y.astype('int')
X = testdf.drop(['inspection_id','dba_name','Pass_Fail','inspection_id','zip'],axis=1)
clf = linear_model.LogisticRegression()
m_fit = clf.fit(X, Y)
y_pred = m_fit.predict(X)

In [29]:
#Priors
p = len(testdf[testdf.Pass_Fail == 1])
f = len(testdf[testdf.Pass_Fail == 0])
priors = [p/(p+f) , f/(p+f)]
priors

[0.7078891257995735, 0.2921108742004264]

In [30]:
#Prediction Outcomes
print('Accuracy of logistic regression classifier on training set: {:.2f}'.format(m_fit.score(X,Y)))

from sklearn.metrics import *
confusion_matrix = confusion_matrix(Y, y_pred)
print(confusion_matrix)

Accuracy of logistic regression classifier on training set: 0.87
[[ 83  54]
 [  7 325]]

In [16]:
#CV outcome
kfold = model_selection.KFold(n_splits=10, random_state=7)
scoring = 'accuracy'
results = model_selection.cross_val_score(clf,X,Y, cv=kfold, scoring=scoring)
print("10-fold cross validation average accuracy: %.3f" % (results.mean()))

10-fold cross validation average accuracy: 0.854

## Python pickles

In [320]:
import pickle

#Pickle class test cell
class model_reqs:
    def __init__(self, model , specs):
        self.model = model
        self.specs = list(specs)

specification = model_reqs(m_fit,testdf.columns)
#specification.specs[14:len(specification.specs)-2]

pickling_on = open("Model.pickle","wb")
pickle.dump(specification, pickling_on)
pickling_on.close()

In [321]:
model_ = pickle.load(open('/Users/matthewgallagher/MSiA/Winter_2018/MSIA_423/FoodInspection/develop/notebooks/Model.pickle','rb'))
model = model_.model
specs = model_.specs